# Build directories
/build/
/**/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.vcxproj*
*.sln

# Binaries and outputs
/bin/
/**/bin/
/_deps/
*.exe
*.dll
*.lib
*.exp
*.obj
*.pdb
*.ilk

# Test logs
*.tap.txt
build/test_logs/

# IDE settings
.vscode/
.idea/
.DS_Store
Thumbs.db

# Executables and logs
AvatarQuest
*.log
